<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción</title>
</head>
<body>
    <h1>
        Evaluación técnica
    </h1>
    <form method="POST" action="/inscripcion"> 
        <input placeholder="Nombre" name="nombre"type="text">
        <input placeholder="Apellido" name="apellido" type="text">
        <input placeholder="Edad" name="edad" type="number">
        <span> Fecha de Nacimiento <input name="nacimiento" placeholder="Fecha de Nacimiento" type="date"></span> 
        <span>Fecha de Inscripción<input name = "inscripcion" placeholder="Fecha de Inscripción" type="date"></span> 
       <input placeholder="Costo" name = "costo" type="number">
       <button>Enviar</button>
    
    </form>
</body>
</html>